# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
venv_win/
venv_wsl/
build/
dist/
*.egg-info/
.pytest_cache/


# Node/React
frontend/node_modules/
frontend/build/

# VSCode and IDE
.vscode/
.idea/
.DS_Store

# Playwright
playwright-report/

# Misc
*.log
!agent/agent_session.log
agent/agent_session.log
*.pdf
get-pip.py
